.container{
  width: 60vh;
}

@media(min-width: 577px) and (max-width: 768px){
  .container{
    width: 95%;
  }
}
@media (min-width: 769px) and (max-width: 1200px){
  .container{
    width: 80%;
  }
}
@media(max-width: 576px){
  .container{
    width: 95%;
  }
}